apiVersion: apps/v1
kind: Deployment
metadata:
  # annotations:
  #   keel.sh/match-tag: 'true'
  #   keel.sh/policy: force
  #   keel.sh/trigger: poll
  name: backend
  namespace: mandagsmiddag
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/bakseter/mandagsmiddag/backend:latest
          ports:
            - containerPort: 8080
          env:
            - name: HOST
              value: https://api.mandagsmiddag.bakseter.net
            - name: OAUTH2_USERINFO_ENDPOINT
              value: https://auth.bakseter.net/oauth2/userinfo
            - name: GIN_MODE
              value: release
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  name: database-app
                  key: host
            - name: DATABASE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: database-app
                  key: username
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: database-app
                  key: password
            - name: DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: database-app
                  key: dbname
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      securityContext:
        fsGroup: 65534
        runAsNonRoot: true
        runAsGroup: 65534
        runAsUser: 65534
        seccompProfile:
          type: RuntimeDefault
        supplementalGroups:
          - 65534
