apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend
  namespace: mandagsmiddag
spec:
  ingressClassName: tailscale
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 3000
  tls:
    - hosts:
        - mandagsmiddag
