oauth2-proxy:
  config:
    existingSecret: mandagsmiddag-keycloak-credentials

  ingress:
    enabled: true
    className: tailscale
    annotations:
      tailscale.com/funnel: 'true'
    hosts:
      - mandagsmiddag
    tls:
      - hosts:
          - mandagsmiddag

  extraArgs:
    provider: keycloak-oidc
    http-address: 0.0.0.0:4180
    reverse-proxy: true
    redirect-url: https://mandagsmiddag.tail79d70a.ts.net/oauth2/callback
    oidc-issuer-url: https://keycloak.tail79d70a.ts.net/realms/mandagsmiddag
    code-challenge-method: S256
    upstream: http://mandagsmiddag-frontend.mandagsmiddag.svc.cluster.local/
    skip-provider-button: true
