oauth2-proxy:
  replicaCount: 2

  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: oauth2-proxy
          topologyKey: bakseter.net/physical-node

  config:
    existingSecret: google-credentials

  networkPolicy:
    create: true

    ingress:
      # Allow traffic from Traefik
      - from:
          - namespaceSelector:
              matchLabels:
                kubernetes.io/metadata.name: traefik
          - podSelector:
              matchLabels:
                app.kubernetes.io/name: traefik
        ports:
          - protocol: TCP
            port: 4180

    egress:
      # Allow egress to Internet (Google OIDC provider)
      - to:
          - ipBlock:
              cidr: '0.0.0.0/0'
        ports:
          - protocol: TCP
            port: 443

      # Allow egress to kube-dns (needed for DNS resolution)
      - to:
          - namespaceSelector:
              matchLabels:
                kubernetes.io/metadata.name: kube-system
          - podSelector:
              matchLabels:
                k8s-app: kube-dns
        ports:
          - protocol: UDP
            port: 53

      # Allow egress to frontend
      - to:
          - podSelector:
              matchLabels:
                app: frontend
        ports:
          - protocol: TCP
            port: 3000

      # Allow egress to backend
      - to:
          - podSelector:
              matchLabels:
                app: backend
        ports:
          - protocol: TCP
            port: 8080

  extraArgs:
    provider: google
    oidc-issuer-url: https://accounts.google.com
    http-address: 0.0.0.0:4180
    code-challenge-method: S256
    redirect-url: https://mandagsmiddag.no/oauth2/callback
    cookie-csrf-per-request: true
    cookie-domain: mandagsmiddag.no
    cookie-secure: true
    cookie-samesite: none
    whitelist-domain: mandagsmiddag.no
    silence-ping-logging: true
    skip-provider-button: true
    real-client-ip-header: X-Forwarded-For
    email-domain: '*'
    set-xauthrequest: true
    upstream: 'http://mandagsmiddag-frontend.mandagsmiddag.svc.cluster.local:3000,http://mandagsmiddag-backend.mandagsmiddag.svc.cluster.local:8080/api/'
