oauth2-proxy:
  ingress:
    enabled: true
    className: tailscale
    annotations:
      tailscale.com/funnel: 'true'
    hosts:
      - mandagsmiddag
    tls:
      - hosts:
          - mandagsmiddag
