oauth2-proxy:
  config:
    existingSecret: mandagsmiddag-oauth2-proxy-keycloak-credentials

  ingress:
    enabled: true
    className: tailscale
    annotations:
      tailscale.com/funnel: 'true'
    hosts:
      - mandagsmiddag
    tls:
      - hosts:
          - mandagsmiddag

    extraArgs:
      provider: keycloak-oidc
      redirect-url: https://mandagsmiddag.tail79d70a.ts.net/oauth2/callback
      oidc-issuer-url: https://keycloak.tail79d70a.ts.net/realms/mandagsmiddag
      code-challenge-method: S256
