oauth2-proxy:
  replicaCount: 2

  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: oauth2-proxy
          topologyKey: bakseter.net/physical-node

  config:
    existingSecret: google-credentials

  networkpolicy:
    create: true
    ingress:
      - from:
          - namespaceSelector:
              matchLabels:
                kubernetes.io/metadata.name: traefik
              podSelector:
                matchLabels:
                  app.kubernetes.io/name: traefik
        ports:
          - protocol: TCP
            port: 4180
    egress:
      - to:
          - podSelector:
              matchLabels:
                app: frontend
        ports:
          - protocol: TCP
            port: 3000

      - to:
          - podSelector:
              matchLabels:
                app: backend
        ports:
          - protocol: TCP
            port: 8080

  extraArgs:
    provider: google
    oidc-issuer-url: https://accounts.google.com
    http-address: 0.0.0.0:4180
    code-challenge-method: S256
    redirect-url: https://mandagsmiddag.no/oauth2/callback
    cookie-csrf-per-request: true
    cookie-domain: mandagsmiddag.no
    cookie-secure: true
    cookie-samesite: none
    whitelist-domain: mandagsmiddag.no
    silence-ping-logging: true
    skip-provider-button: true
    real-client-ip-header: X-Forwarded-For
    email-domain: '*'
    set-xauthrequest: true
    upstream: 'http://mandagsmiddag-frontend.mandagsmiddag.svc.cluster.local:3000,http://mandagsmiddag-backend.mandagsmiddag.svc.cluster.local:8080/api/'
