apiVersion: v1
kind: Service
metadata:
  name: mandagsmiddag-backend
  namespace: mandagsmiddag
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app: backend
  type: ClusterIP
