apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: backend
  namespace: mandagsmiddag
spec:
  policyTypes:
    - Ingress
    - Egress

  podSelector:
    matchLabels:
      app: backend

  ingress:
    # Allow ingress from oauth2-proxy
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: oauth2-proxy
      ports:
        - protocol: TCP
          port: 8080

  egress:
    # Allow egress to kube-dns (needed for DNS resolution)
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53

    # Allow egress to database
    - to:
        - podSelector:
            matchLabels:
              app.kubernetes.io/instance: mandagsmiddag-database
      ports:
        - protocol: TCP
          port: 5432
