apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: database
  namespace: mandagsmiddag
spec:
  policyTypes:
    - Ingress

  podSelector:
    matchLabels:
      app.kubernetes.io/instance: mandagsmiddag-database

  ingress:
    # Allow traffic from backend
    - from:
        - podSelector:
            matchLabels:
              app: backend
      ports:
        - protocol: TCP
          port: 5432

    # Allow ingress from CloudNativePG operator
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: cnpg-system
          podSelector:
            matchLabels:
              app.kubernetes.io/name: cloudnative-pg
      ports:
        - port: 8000
        - port: 5432

  egress:
    # Allow egress to kube-dns (needed for DNS resolution)
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53

    # Allow egress to Kubernetes API server
    - to:
        ipBlock:
          cidr: '10.96.0.0/12'
      ports:
        - protocol: TCP
          port: 443
