apiVersion: v1
kind: Service
metadata:
  name: mandagsmiddag-frontend
  namespace: mandagsmiddag
spec:
  ports:
    - port: 3000
      targetPort: 3000
  selector:
    app: frontend
  type: ClusterIP
