apiVersion: v1
kind: Service
metadata:
  name: '{{ .Chart.Name }}-frontend'
  namespace: '{{ .Release.Namespace }}'
spec:
  ports:
    - port: 3000
      targetPort: 3000
  selector:
    app: frontend
  type: ClusterIP
