apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: frontend
  namespace: mandagsmiddag
spec:
  policyTypes:
    - Ingress
    - Egress

  podSelector:
    matchLabels:
      app: frontend

  ingress:
    # Allow ingress from oauth2-proxy
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: oauth2-proxy
      ports:
        - protocol: TCP
          port: 3000

  egress: [] # no egress allowed
